[user]
	name = David Wilhelm
	email = email@example.com

[color]
	ui = true

[core]
	excludesfile = ~/.gitignore

[credential]
	helper = !'C:\\Users\\dave\\AppData\\Roaming\\GitCredStore\\git-credential-winstore.exe'
