[user]
	name = David Wilhelm
	email = email@example.com
[core]
	autocrlf = input
[diff]
	algorithm = histogram
[init]
	defaultBranch = main
[merge]
	conflictstyle = zdiff3
[pull]
	ff = only
[alias]
	adog = log --all --decorate --oneline --graph
